<script src="https://browser.sentry-cdn.com/4.6.5/bundle.min.js" crossorigin="anonymous"></script>
<script>
Sentry.init({ dsn: 'https://29f8c9ee84a14170b4ccebd7befda2b1@sentry.io/1424076' });</script>
<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-github"></i>
  </span>
  <a class="author" itemprop="copyrightHolder" href="https://github.com/{{ site.github_username }}" >{{ site.author }}</a>
</div>

{% if site.copyright %}
<div class="powered-by">
  {{ __.footer.powered | replace: '%s', '<a class="theme-link" href="https://github.com/ifmos/ifmos.github.io">Github</a>') }}
</div>

<div class="theme-info">
  <a class="theme-link" href="http://www.beian.gov.cn/portal/index.do">
    桂ICP备16007714号
  </a>
</div>
{% endif %}
